.form{
padding: 20px; 
display: block;
background-color: red;
width: 170px;
}
.form-text{
display: inline-block;
 color: white;
}
.form-input{
margin: 10px; 
width: 70px;
height: 20px;
border-radius: 5px;
border-color: grey;

}
.form-input-active{
    color: green;
}
.span{
display: inline-block;
color: grey;
border: 2px solid grey;
border-radius: 25px;
margin:15px;
height: 38px;
box-sizing: border-box;
}
.span-button{
margin: 5px;
color: grey;
width: 16px;
border: 2px solid grey;
border-radius: 50%;
text-align: center;
cursor: pointer;
display: inline-block;
}