.body{
    font-family: sans-serif;
}
.head{
    position: fixed;
    z-index: 1;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.head-slogan-link{
    display: flex;
    align-items: center; 
    min-width: 180px;   
}
.head-slogan{
    font-size: 22px;
    font-family: ﻿AdobeInvisFont,  sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 7px;
}

.head-menu{
    display: flex;
    justify-content: space-between;
    flex-basis: 710px;
    min-width: 710px;
}
.head-menu-items{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.head-search{
    background-color: #171a1c;
    padding: 25px;
    box-sizing: border-box;
    border: 0px;

}
.section-1{
    height: 400px;
    background-image: url(../img/header-bg-img.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}
.section-1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;     
    background-color:rgba(0, 0, 0, 0.4);
}
.section-1-menu{
    display: flex;
    align-items: center;
    min-width: 610px;
    flex-wrap: wrap;
    justify-content: center;
}
.section-1-header{
    width: 100%;
    text-align: center; 
    color: white;
    margin-bottom: 63px;
    font-size: 27px;
}
.buttons{
width: 170px;
height: 55px;
border-radius: 5px;
color: white;
background-color: #89ca62;
text-align: center;
box-sizing: border-box;
padding-top: 20px;
margin: 0 20px;
font-size: 20px;
}
.buttons:last-child{
    background-color: #14b9d5;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;

}
.section-2-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    width: 80vw;
    align-items: center;


}
.section-2-links{
    flex-basis: 30%;
    margin-bottom: 33px;
    box-sizing: border-box;

}
.section-2-heades{
    background-color: #ffffff;
    padding: 13px;
    width: 371px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: ﻿AdobeInvisFont, sans-serif;
    font-weight: 600;
    box-sizing: border-box;

}
.section-head{
    font-size: 27px;
    font-family: ﻿AdobeInvisFont, sans-serif;
    color: #18b4cf;
    margin-bottom: 52px;
    margin-top: 63px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.section-3{
    display: grid;
    height: 600px;
    justify-content: center;
    align-content: center;
    background-image: url(../img/background-section-3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
}
.section-3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;     
    background-color:rgba(0, 0, 0, 0.4);
}

.section-3-header{
    color: white;
    font-size: 32px;
    font-family: ﻿AdobeInvisFont, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}
.section-3-header:after{
    content: " ";
    border-bottom: 3px solid #169cb4;
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: -55px;
    left: 405px;
}
.section-3-logo{
    display: grid;
    justify-content: space-around;
    min-width: 700px;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
}


.section-4-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 100%;
    min-width: 900px;
}
.section-4-links{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-5{
    margin: 0 auto;
    max-width: 80vw;
    min-width: 1200px;
    display: grid;
    grid-template-areas:
     "head head head head"
     "a a a b"
     "c c d d"
     "e e f f"
     "g h h h";
     grid-template-columns: 1fr 1fr 1fr 1fr;

}
.section-5-links{
    background-color: #f9f7f7;
    box-sizing: border-box;
    text-align: right;
    margin: 20px;
}
.section-5-img{
    object-fit: fill;
    width: 100%;
    align-self: stretch;
}
.section-5-link-headers{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: bold;
    margin: 25px;
    vertical-align: top;
}
.section-5-link-text{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin: 0 20px 20px;
    color: rgba(91, 100, 105, 255);
    vertical-align: top;
    font-weight: 600;  
    color: #909598;
}

.section-area-head{
    grid-area: head;
}
.section-area-1{
    grid-area: a;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    
}
.section-area-2{
    grid-area: b;

}
.section-area-3{
    grid-area: c;
}
.section-area-4{
    grid-area: d;
}
.section-area-5{
    grid-area: e;
}
.section-area-6{
    grid-area: f;
}
.section-area-7{
    grid-area: g;
}
.section-area-8{
    grid-area: h;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
}

.hide-content-btn{
    padding: 20px;
    width: 100px;
    background-color: grey;
    color: white;
    cursor: pointer;
    margin: 0 auto;

}
.to-top-btn{
    position: fixed;
    bottom: 20px;
    right: 0;
    padding: 20px;
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
}



.footer{
background-color: #1d2124;
height: 80px;
display: grid;
grid-template-columns: 4fr 1fr;
align-items: center;
margin-top: 70px;
width: 100%;
}
.footer-text{
    color: white;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
}
.links:hover{
    opacity: 0.4;
    transition-delay: 100ms;
    cursor: pointer;
}